.skills-side-bar{
}

.input-form{
}

.newsfeed{
}

.main-app{
}

body{
    background-color: #e9eaed;
}

.foreground-area{
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    padding: 10px;
    margin-bottom: 20px;
}

.header{
    text-align: center;
    position: relative;
}

.header .login-button{
    position:absolute;
    top:0px;
    right:0px;
}

.skill{
    margin-top: 10px;
    height: 60px;
    padding: 5px;
}

.skill-progress .skill-text{
    position: absolute;
    width: 75%;
    display: block;
    text-align: center;
}

.skill-level{
    width: 15%;
    float: left;
    text-align: left;
    font-size: 35px;
    line-height: 55px;
    font-weight: bold;
}

.skill-name-and-progress{
    float:left;
    width: 85%;
}


/*.skill-progress-container{*/
    /*width: 100%;*/
    /*position: relative;*/
    /*height: 30px;*/
    /*padding: 3px;*/
/*}*/

.skill-name{
    /*font-weight: bold;*/
    font-size: 18px;
}

.activity-image img.leveled{
    width: 80px;
    height: 80px;
}
.activity-image img.no-leveled{
    width: 70px;
    height: 60px;
}


.activity-image{
    height: 80px;
    width: 80px;
    float: left;
}

.activity-data{
    margin-left: 80px;
}

.clearfix {
    display: inline-block;
    width: 100%;
}

.activity-name{
    font-size: 18px;
}
.activity-gain{
    font-size: 24px;
    font-weight: bold;
}

.how-to-use {
    font-size: 18px;
}

.get-started{
    font-size: 24px;
    font-weight: bold;
}