.skills-side-bar{
}

.input-form{
}

.newsfeed{
}

.main-app{
}

body{
    background-color: #e9eaed;
}

.foreground-area{
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    padding: 10px;
    margin-bottom: 20px;
}

.header{
    text-align: center;
    position: relative;
}

.header .login-button{
    position:absolute;
    top:0px;
    right:0px;
}

.skill{
    margin-top: 10px;
}

.skill-progress .skill-text{
    position: absolute;
    width: 90%;
    display: block;
    text-align: center;
}

.skill-level{
    width: 15%;
    float: left;
}

.skill-progress{
    float:left;
    width: 85%;
}

.skill-progress-container{
    width: 100%;
    position: relative;
    height: 30px;
    padding: 3px;
}

.skill-name{
    font-weight: bold;
    font-size: 18px;
}