<div class="row main-app">
    <div class="skills-side-bar col-md-4 foreground-area">
        <h3>Your Skills</h3>
        <div class="new-skill form-inline">
            <div class="form-group">
                <label for="newSkillName">Skill: </label>
                <input type="text" class="form-control input-sm" id="newSkillName" ng-model="newSkillName">
                <button type="button" class="btn btn-primary btn-sm" ng-click="addSkill()">Create New Skill</button>
            </div>
        </div>

        <div ng-repeat="skill in model.userSkills">
            {{skill.level}}  {{skill.name}}
            <div class="progress progress-striped">

                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{skill.totalxp}} aria-valuemin="{{skill.lastLevel}}" aria-valuemax="{{skill.nextLevel}}" style="width: {{(skill.totalxp-skill.lastLevel)/(skill.nextLevel - skill.lastLevel) * 100}}%">
                <span class="sr-only">40% Complete (success)</span>
                {{skill.totalxp}} / {{skill.nextLevel}}
            </div>

        </div>

    </div>
</div>
<div class="col-md-8">
    <div class="input-form foreground-area">
        <h3>Activity Entry</h3>
        <div class="form-group">
            <label for="activitySkill">Skill: </label>
            <select class="form-control" id="activitySkill" ng-model="curInput.skillName" ng-options="c.name for c in model.userSkills"></select>
        </div>
        <div class="form-group">
            <label for="activityDescription">What did you do?</label>
            <textarea class="form-control" id="activityDescription" ng-model="inputDescription"></textarea>
        </div>
        <div class="form-group">
            <label for="activityDifficulty">How difficult was it?</label>
            <select class="form-control" id="activityDifficulty" ng-model="inputDifficulty" ng-options="c for c in difficultyOptions"></select>
        </div>
        <button type="button" class="btn btn-primary btn-xs" ng-click="addActivity()">Create New Skill</button>
    </div>
    <div class="newsfeed foreground-area">
        <h3>News Feed</h3>
        <div ng-repeat="story in model.newsFeed">
            {{story.text}}
        </div>
    </div>
</div>
