 <div class="row main-app" ng-controller="LevelUpMainCtrl" ng-init="init()">
    <div class="skills-side-bar col-md-4 " ng-controller="SkillsCtrl">
        <div class="foreground-area">
            <h3>Your Skills</h3>
            <div class="new-skill form-inline">
                <div class="form-group">
                    <input type="text" class="form-control input-sm" id="newSkillName"
                           ng-model="newSkillName" ui-keyup="{'enter':'addSkill()'}">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="addSkill()">Add New Skill</button>
                </div>
            </div>

            <div class="skill" ng-repeat="skill in skills">
                <div class="skill-level">{{skill.getLevel() + 1}}</div>
                <div class="skill-name-and-progress">
                    <div class="skill-name">{{skill.getName()}}</div>
                    <div class="skill-progress-container">
                        <div class="progress progress-striped skill-progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{skill.getProgress()}}%">
                                <span class="sr-only">{{skill.getProgress()}}% Complete (success)</span>
                            </div>
                            <span class="skill-text">{{skill.getTotalXp()}} / {{skill.getNextLevelXp()}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8" >
        <div class="input-form foreground-area" ng-controller="ActivityCtrl">
            <h3>Activity Entry</h3>
            <div class="form-group">
                <label for="activitySkill">Skill: </label>
                <select class="form-control" id="activitySkill" ng-model="activitySkill" ng-options="c.getName() for c in skills"></select>
            </div>
            <div class="form-group">
                <label for="activityDescription">What did you do?</label>
                <textarea class="form-control" id="activityDescription" ng-model="activityDescription"></textarea>
            </div>
            <div class="form-group">
                <label for="activityTime">How long did it take (in hours)?</label>
                <input class="form-control" id="activityTime" ng-model="activityTime">
            </div>
            <div class="form-group">
                <label for="activityDifficulty">How difficult was it?</label>
                <select class="form-control" id="activityDifficulty" ng-model="activityDifficulty" ng-options="c for c in difficultyOptions"></select>
            </div>
            <button type="button" class="btn btn-primary btn-sm" ng-click="addActivity()">Log Activity!</button>
        </div>
        <div class="newsfeed">
            <!--<h3>Recent Activity</h3>-->
            <div class="foreground-area" ng-repeat="activity in activities">
                <div class="activity-name">
                    {{activity.getSkillName()}}
                    <!--<span ng-show="activity.increasedLevel()"> LEVEL UP </span>-->
                </div>
                <div class="activity-data-container clearfix">
                    <div class="activity-image">
                        <img class="no-leveled" src="images/retro_coin.png" alt="" ng-show="!activity.increasedLevel()"/>
                        <img class="leveled" src="images/levelup_one.jpg" alt="" ng-show="activity.increasedLevel()"/>
                    </div>
                    <div class="activity-data">
                        <div class="activity-gain">
                            + {{activity.getXpGained()}} XP
                        </div>
                        <div class="activity-description">
                            {{activity.getDescription()}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>